<ion-view view-title="BGG Preview List">
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
  <ion-content class="padding">
    

    <ion-list>
      <ion-item class="game-item item-remove-animate item-icon-right item-thumbnail-left" ng-repeat="game in vm.games | orderBy: vm.orderBy" type="item-text-wrap" ui-sref="tab.game-detail({gameId: game.objectId})">
        <!-- <img ng-src="{{game.details.thumbnailUrl}}"> -->
        
        <img ng-if="game.details.thumbnailUrl" ng-src="{{game.details.thumbnailUrl}}" />

        
        <h3>{{game.title}}</h3>
        <p>{{game.details.publisher}}</p>
        <span class="badge badge-assertive">{{game.score}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="alert('did this')">
          Ignore?
        </ion-option-button>
      </ion-item>
    </ion-list>    
    
  </ion-content>
</ion-view>
